/*zipview*/
body {
    font-family: "Helvetica Neue", "lucida Grande", "Verdana";
    font-size: 12px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#headbar {
    position: relative;
    top: 0;
    left: 0;
    height: 42px;
    right: 0;
    _width: 100%;
    border-bottom: solid 1px #eee;
}

.unselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

#headbar h3 {
    line-height: 42px;
    margin: 0;
    font-size: 26px;
    white-space: nowrap;
    font-weight: bold;
    color: #000;
    overflow: hidden;
    position: absolute;
    left: 15px;
    right: 24px;
}

#container {
    position: absolute;
    top: 43px;
    bottom: 0;
    left: 0;
    right: 0;
    _width: 100%;
    overflow: auto;
}

#stack {
    padding: 10px;
    border-bottom: solid 1px #eee;
}

#stack button {
    padding: 3px 5px;
    line-height: 20px;
}

#files {
    padding: 10px 20px 70px;
}

.file {
    float: left;
    width: 120px;
    height: 120px;
    overflow: hidden;
    padding: 15px 20px;
    border: 3px solid #fff;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.file td {
    width: 114px;
    height: 102px;
}

.file:hover {
    border: 3px solid #ececec;
    border-radius: 5px;
}

.fname,
.fsize {
    white-space: nowrap;
    line-height: 14px;
    height: 14px;
    display: block;
    overflow: hidden;
    color: #333;
}

.fsize {
    color: #808080;
}
/* icons */

.fcon {
    width: 114px;
    height: 102px;
    display: block;
    margin: 0 auto;
    background: url(../images/ico_file.jpg) no-repeat;
}

.ico_file_doc {
    background-position: 0px 0px;
}

.ico_file_xls {
    background-position: -114px 0px;
}

.ico_file_ppt {
    background-position: -228px 0px;
}

.ico_file_eml {
    background-position: 0px -102px;
}

.ico_file_compress {
    background-position: -114px -102px;
}

.ico_file_dir {
    background-position: -228px -102px;
}

.ico_file_psd {
    background-position: 0px -204px;
}

.ico_file_fla {
    background-position: -114px -204px;
}

.ico_file_pdf {
    background-position: -228px -204px;
}

.ico_file_html {
    background-position: 0px -306px;
}

.ico_file_audio {
    background-position: -114px -306px;
}

.ico_file_video {
    background-position: -228px -306px;
}

.ico_file_txt {
    background-position: 0px -408px;
}
.ico_file_ofd{
    background-position: 0px -408px;
}
.ico_file_other {
    background-position: -114px -408px;
}

.ico_file_img {
    background-position: -228px -408px;
}


.actionBar {
    float: right;
    margin: 0 10px;
    position: relative;
    z-index: 10;
}

.actionBar select {
    opacity: .8;
    height: 40px;
    text-align: center;
}

.actionBar a {
    float: right;
    opacity: .8;
    width: 40px;
    height: 40px;
    text-align: center;
}

.actionBar a:hover {
    opacity: 1;
}

.am-fadeinright {
    -webkit-animation: fadeinright .3s ease;
    -moz-animation: fadeinright .3s ease;
    -ms-animation: fadeinright .3s ease;
    animation: fadeinright .3s ease;
}

@-webkit-keyframes fadeinright {
    from {
        -webkit-transform: translateX(20px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

@-ms-keyframes fadeinright {
    from {
        -ms-transform: translateX(20px);
        opacity: 0;
    }
    to {
        -ms-transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeinright {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.pica-body{overflow:hidden !important;outline:none}.pica-stage,.pica-sidebar,.pica-close,.pica-title,.pica-tool,.pica-stip{position:absolute;z-index:1000}.pica-stage{background:url(img/alpha-black-50.png);background:rgba(0,0,0,0.56);overflow:hidden;_background:url(img/alpha.gif) no-repeat -10px -10px}.pica-stage .ui-draggable-dragging{transition:none}.pica-sidebar{background:#f8f8f8;display:none;overflow:hidden;word-break:break-all}.pica-close{top:0;right:0;color:#fff;background:url(img/pica-close.png) no-repeat;width:44px;height:43px;cursor:pointer}.pica-close:hover{background-position:-50px 0}.pica-loading{background:url(img/loading-line.gif) center center no-repeat}.pica-prev,.pica-next{position:absolute;line-height:1;font-family:simsun;top:50%;margin-top:-50px;padding:5px 10px;font-size:80px;z-index:1000;cursor:pointer;color:#fff;opacity:.3}.pica-prev:hover,.pica-next:hover{background:url(img/alpha-black-50.png);background:rgba(0,0,0,0.2);opacity:.6}.pica-prev:active,.pica-next:active{opacity:.8}.pica-prev{left:0}.pica-next{right:0}.pica-thumb{position:absolute;bottom:0;width:100%;background:#000;overflow:hidden;height:50px}.pica-thumb ul{position:absolute;white-space:nowrap;left:50%;top:5px;-webkit-box-reflect:below 0 -webkit-linear-gradient(transparent,transparent 50%,rgba(255,255,255,0.3));list-style:none;margin:0 0 0 -15px;padding:0;width:10000px;transition:margin-left .3s}.pica-thumb:after{content:'';width:0;height:0;border:solid 6px #fff;border-color:transparent transparent #d4cdcd;position:absolute;left:50%;bottom:0;margin-left:-6px}.pica-thumb li{width:30px;height:30px;margin:0 1px;float:left}.pica-thumb img{height:30px;width:30px}.pica-page{margin:0 1em}.pica-title{color:#fff;opacity:.9;bottom:50px;width:100%;text-align:center;line-height:30px;pointer-events:none}.pica-stip{display:none;pointer-events:none;background:url(img/alpha-black-50.png);background:rgba(0,0,0,0.3);border-radius:5px;top:50%;left:50%;color:#fff;font-size:14px;padding:5px 10px;margin:-32px 0 0 -25px}@media screen and (min-width:0){.pica-stip{margin-left:0;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}}.pica-scene{-webkit-overflow-scrolling:touch;overflow:auto;position:absolute;transition-timing-function:cubic-bezier(.23,1,.32,1);transition:top .3s,left .3s,width .3s,height .3s;top:50%;left:50%;width:66px;height:6px}.pica-tranfix{transition:top .3s,left .3s}.pica-frame,.pica-html{background:#fff;border:none}.pica-html{-webkit-user-select:auto;-khtml-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}.pica-img{transition:transform .3s}.pica-tool{top:50%;right:10px;margin-top:40px;color:#fff}.pica-tile{cursor:pointer;text-align:center;width:40px;display:block;margin-top:6px;height:40px}.pica-tile:hover{background:url(img/alpha-black-50.png);background:rgba(0,0,0,0.2);opacity:.6}.pcon{display:inline-block;width:23px;height:23px;margin-top:9px;background:url(img/ico_preview.png) no-repeat}.pcon-down{background-position:-144px -48px}.pcon-down-gray{background-position:-144px -96px}.pcon-rotate{background-position:0 -96px}.pica-rotate:hover{opacity:.8}.pica-rotate:active{opacity:.5}.pica-player{width:100%;height:100%;display:block;margin:auto}