body {
	background: rgb(237, 237, 237);
	margin: 0px;
}

#sidebar {
	position: absolute;
	background: #E0E0E0;
	height: 100%;
	top: 40px;
	bottom: 0;
	left: -16%;
	width: 20%;
	overflow: auto;
	transition: left .45s cubic-bezier(.23, 1, .32, 1);
	margin-bottom: 36px;
}

.pptPageSwitch {
	display: block;
	text-align: center;
	z-index: 1000;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 36px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	cursor: default;
	background-color:#FFFFFF;
	box-sizing: border-box;
	display: none;
}

.wrapper {
	display:block;
	float: left;
	height: inherit;
	box-sizing: border-box;
	text-align: center;
	margin: 0 auto;
	font-family: 'Segoe UI', Arial, Verdana, sans-serif;
	font-size: 18px;
	vertical-align: middle;
	line-height: 40px;
}
.wrapper_two{
	width: 105px;
    height: 40px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    margin:auto ;
    line-height: 43px;
    vertical-align: middle;
    position: relative;
    z-index: 10000;
    background-color: rgba(0,0,0,0.9);
    color: white;
	border-radius:5px;
	display: none;
}

.pptPageContent_two{
	width: 60px;
	float: left;
	color: #FFFFFF;
    font-size: 14px;
}

.components-icons {
	font-family: 'preview' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.rightSwitchBtn {
	line-height: 22px;
	width: 22px;
	height: 22px;
	margin-top: 11px;
	border: 1px solid #666666;
	border-radius: 4px;
	cursor: pointer;
}

.rightSwitch {
	float: left;
	height: 44px;
}

.components-icons-angle-right:before {
	content: ">";
}

.leftSwitch {
	float: left;
	height: 44px;
}

.leftSwitchBtn {
	line-height: 22px;
	width: 22px;
	height: 22px;
	margin-top: 11px;
	border: 1px solid #666666;
	border-radius: 4px;
	cursor: pointer;
}

.components-icons-angle-left:before {
	content: "<";
}

.pptPageContent {
	width: 80px;
	float: left;
	color: #666666;
	font-size: 19px;
}

.unclick {
	border-color: #d0d0d0;
	color: #d0d0d0;
	cursor: no-drop;
}

.unclick_two{
	border-color: #d0d0d0;
	color: black;
	opacity: 0.2;
	cursor: no-drop;
}

.fullscreenBtb {
	width: 30px;
	height: 30px;
	position: absolute;
	right:185px;
	top: 7px;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #666666;
	cursor: pointer;
	background: url(fullScreen.png) 2px 2px no-repeat;
	background-size: 24px 24px;
}

.fullscreenBtb.exit {
	background: url(exitFullScreen.png) 2px 2px no-repeat;
	background-size: 24px 24px;
}

.fullscreenBtbIcon {
	line-height: 30px;
	font-size: 18px;
}

.fullscreenBtb:hover {
	background-color: #b1aeae
}

#mainbody {
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: solid 10px transparent;
	transition: left .45s cubic-bezier(.23, 1, .32, 1);
}

.thumbnail {
	margin: 10px 10px 0;
	text-align: center;
	position: relative;
	left: -3%;
}

.thumbnail img {
	display: block;
	margin: auto;
	width: 85%;
	margin-left: 10%;
	padding: 2px;
	border: solid 1px #eee;
	display: block;
	border-radius: 5px;
	cursor: pointer;
	box-sizing: border-box;
}

.thumbnail.active img {
	width: 85%;
	border-color: darkorange;
	box-shadow: 0 0 0 2px darkorange;
	cursor: default;
}

.thumbnail.active .side-pager {
	color: darkorange
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #F3F3F3;
	height: 39px;
	color: #373737;
	font-weight: 400;
	border-bottom: 1px solid #C8C8C8;
}

#header button{
	border-radius:3px; 
}

#header button:hover{
	background-color: rgba(230,230,230,0.5)
}

#header button:active{
	background-color: rgba(230,230,230,1)
}

#header p {
	display: inline-block;
	color: #373737;
	font-size: 14px;
	font-weight: 400;
	width: 233px;
	text-align: center;
	opacity: 0;
}

#title {
	margin: 0 0 0 10px;
	line-height: 38px;
	font: 400 20px/38px 'Microsoft Yahei';
	width: 60%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#loading {
	bottom: 0;
	left: 0;
	right: 0;
}

.loader {
	position: absolute;
	overflow: hidden;
	height: 3px;
	z-index: 9999;
}

.loader div {
	height: 100%;
	width: 1%;
	transition: width .45s cubic-bezier(.23, 1, .32, 1);
	background: #39f;
}

.side-pager {
	position: absolute;
	width:15%;
	top: 38%;
	height: 24px !important;
	line-height: 24px;
	text-align: center;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	font-weight: bold;
	color: #545454;
}

#next,
#prev {
	position: fixed;
	top: 50%;
	width: 60px;
	font: 60px/160px '宋体';
	margin-top: -80px;
	cursor: pointer;
	text-align: center;
	opacity: .1;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#next:hover,
#prev:hover {
	background: rgba(0, 0, 0, .1);
	opacity: .5
}

#prev {
	left: 3%;
}

#next {
	right: 3%;
}

.hbtn {
	width: 40px;
	height: 40px;
	display: inline-block;
	cursor: pointer;
}

.hbtn:hover {
	background: #F3F3F3;
}

.pull-right {
	float: right;
}

.fullScreen #sidebar {
	left: -16%;
}

.openSide #sidebar {
	left: 0px !important;
}

.openSide #mainbody #prev {
	left: 19%
}

.openSide #mainbody {
	left: 20% !important;
}

.openSide .side-pager {
	cursor: pointer;
}
.openSide .wrapper_two{
	left: 10%
}
.fullScreen #mainbody {
	left: 0;
}

.fullScreen #sideBtn {
	display: inline-block;
}

.fullScreen .thumbnail img {
	display: block;
}

.fullScreen #next,
.fullScreen #prev {
	color: #fff;
}

#sideBtn {
	float: left;
	padding-top: 8px;
	height: 30px;
	margin-right: 10px;
	margin-left: 10px;
	background-image: url(sideBtn.png);
	background-repeat: no-repeat;
	background-position: center center;
	border-radius:5px; 
}

#sideBtn:hover{
	background-color: rgba(230,230,230,0.5)
}

#sideBtn:active{
	background-color: rgba(230,230,230,1)
}
/*隐藏body导航栏显示mainbody导航栏*/

body,
html {
	overflow: hidden
}

#mainbody .word-content {
	width: 70%;
	display: table-cell;
	box-sizing: border-box;
	vertical-align: middle;
}

#mainbody .word-content embed {
	width: 100%
}

.fullScreen {
	width: 32px;
	height: 39px;
	float: right;
	margin-right:67px;
	background-image: url(fullScreen.png);
	background-repeat: no-repeat;
	background-position: center center;
	border: 0;
	outline: none;
	background-color: #F3F3F3;
}
.fullScreen:hover{
	cursor: pointer;
}
.btnMore {
	width: 32px;
	height: 39px;
	float: right;
	margin-right: -77px;
	background-image: url(more.png);
	background-repeat: no-repeat;
	background-position: center center;
	border: 0;
	outline: none;
	background-color: #F3F3F3;
}
.project:hover,.btnMore:hover{
	cursor: pointer;
}

.more-content {
	width: 115px;
	color: #373737;
	font-size: 12px;
	font-weight: 400;
	background-color: #FFFFFF;
	position: absolute;
	z-index: 100000;
	right: 30px;
	top: 40px;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.28);
	display: none;
}

.more-content img{
	position: relative;
	top: 3px;
}

.more-content li {
	list-style: none;
	width: 114px;
	height: 20px;
	margin-top: 6px;
	line-height: 20px;
	margin-left: -40px;
	text-align: left;
	border-radius:3px; 
}

.more-content li:hover{
	background-color: rgba(230,230,230,0.5);
	cursor: pointer;
}

.more-content li:active{
	background-color: rgba(230,230,230,1);
}

.more-content li img{
	width: 16px;
	height: 15px;
	margin-left: 23px;
}

.more-content li span{
	margin-left: 10px;
}

.more-content.selected {
	display: block
}

.remarksBtb{
	position: relative;
	float: right;
	width: 45px;
	height: 30px;
	color: #373737;
	font-size: 12px;
	font-weight: 400;
	text-align: right;
	line-height: 30px;
	margin-top: 7px;
	right:122px;
	background-image: url(remarksBtbIcon.png);
	background-repeat: no-repeat;
	background-size: 30% 35%;
	background-position: center left;
}

.scaleBtb{
	position: relative;
	float: right;
	width: 80px;
	height: 30px;
	color: #373737;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	line-height: 30px;
	margin-top: 7px;
	right: -30px;
	border: solid 1px red;
}
.remarksBtb:hover{
	cursor: pointer;
}
.style_two{
	border: 0;
}

#zoom {
    color: #999;
    right: -3px;
    position: fixed;
    bottom: 2px;
    text-align: center;
    line-height: normal;
    transition: opacity 1s;
    opacity: 1;
    z-index: 10000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

.w-scale-btn {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    line-height: 22px;
    border-radius: 100%;
    background: #FFFFFF;
    color: #999999;
    margin: 0 8px;
    cursor: pointer;
    font-size: 20px;
}

.w-scale-text {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    font-size: 14px;
    color: #333333;
}

.w-scale-shrink {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAABGdBTUEAALGPC/xhBQAAAjpJREFUOBGllT9LHFEUxZ0/faqkmK0sDZgIs7AjqSwsoqRNmyokn8Kgn8LFbyBYqk1AApHMujtgYpHCQFJkZyGp7Hd3/J1h3mOzTsaHu7C8P/ecc++777473lLDrygKL0mSlfF4vOb7fiTodDrNwzC8TNP0u+d5xf/oXp0hjuNHCL1F5B32EIGUMa+wEQ4T5mMwXTAHWZbdVDY73BHudDrJZDI5hJwR2Yder/fNomcm4J5xkl2cxkEQvAYn5/b3j3C73X6B4GfA24PB4MSiGiacbgPzEZxXcM4N1AorUiI4IcpNvGcG4DLCjeEO4K6byEth5RSPV0T7hnyduYjNYzjtS/a6aKwq574Auijl9KGi0iANp9KQVqnJwuNm37PY0cYiP122KkmaHvl5Sn6OiXZ5EVHDJa0/cbDtU1rPyW/PGBYd0UoJdC0k7IiFKX6ri+c/LB7bjfrJX076ZM6Uk+conNu0yxqCtblM/Crasg+4EBwwEReY+zzHr6Sj40BwgqCVcHmXSyoN8vmD/6oTswGk/oHOtTSVioJk74Pfa+A4maiGXbS6paYYan0sYp7llpNCDYhIN6QhLZnLJ00F3Kj1cYRjNZQaXuNWxTmShrQEDgxjOBz+brVaH/F4GkXRxWg0+mVsTaOaD5xPRLvZ7/e/GKxtm2YD77bRs7dDBFfGNjtWl72n49/b6A0Rkvk0qTkFkPXkzevUp0nlOdGlK6fm+Iav8U7Es0aVjT6m6ifMy0eEk1y1f9/H9BbUuhqOYVoHQgAAAABJRU5ErkJggg==);
    background-size: 100%;
}

.w-scale-magnify {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAABGdBTUEAALGPC/xhBQAAAoJJREFUOBGdlb+LE0EUx7M/0tgciNWm0s7iTmEj2UWbK67w1NbWSrSz0+7E+w/sDId2NoKVcFcoiKAkMVk4vcLWwiQIIlhnN/HzXXeWMW4uXgaWfe/N933fmzczb5zaMWM2mzlRFJ1P0/Si67qBoNPpdOT7/mG32/3iOM5skbtTNRGG4RpEtyG5w7wPQZf/qMAGBIyQUzBtMHtJkvwq5srfP8StVivKsuwFzgmZPez1ep9LtCWA22Aljwgaep53E5yCl+Mv4mazeRnC94CvDQaD/RJ1jMDqNpl+ic8NfD4YaEmsTMlgnyy3iJ4YwP/88Q3xHeAbm8xzYtWUiEdke4t6va0iA3NGduZ/VM2z2qvY23Csq+auQNoo1ZRRSSoMgZ/yPZNcNSjDgTjEpXkXxWFn7yLvVDkYGzhh80SMbf6vzdZJEqercwrAI9ujeeBJ9eIE+eJ0OVoXWGLvpCSL8HB1daF80g5QzOHP8XEcn55MJo/tpYOJNckmPjek2Kb1ev1ep9P5aWz8R9Q58C1DKVKnOspZPq801mqnCvmcZcsKrGX6I+q6KttL9gy1+o5+xbaR6St0h724btsr5IBgict1/MSSWxWAlUxwRZyOQ1ddCoaMjNZXYrKc1D9QU3G6lGJGsZ9g2LUwi8SFbVIOakpwtXNOGajJHkrItdyWXjXY/fss8UHVnGyseFMc4pI+34Q6ODdXbEKv8d02Tag8TsPh8Fuj0XhDxIMgCD6Ox+OvBF461HzweUe2W/1+v2McyoyNQe3TNHpsO4uuerHZu1r+0kZvyHEyT5Oak4ezrry5nXqadDwzbbpqSvDlT5Mh1x+C/DFVP0HOH1OCjHT2lz2mvwEb1D3YKxPgsAAAAABJRU5ErkJggg==);
    background-size: 100%;
}
.docMark {
	width: 100%;
	height: 100%;
    border: 1px solid transparent;
    position: fixed;
    z-index: 1000000;
    background-color: rgba(30, 30, 30, 0.6);
    display: none;
}

.docMark .attribute {
    width: 392px;
    height: 229px;
    background-color: #FFFFFF;
    margin: auto;
}

.attr_Title {
    width: 100%;
    height: 57px;
    border-bottom: 1px solid #E2E4EA;
    font-size: 18px;
    color: #373737;
    font-weight: 400;
    font-family: 微软雅黑;
    line-height: 57px;
}

.attr_Title span {
    margin-left: 30px;
}
.attr_Title button{
    width: 15px;
    height: 15px;
    background-image: url(offAttributeBtn.png);
    background-size: 100% 100%;
    background-color: #FFFFFF;
    border:0;
    outline: none;
    float: right;
    margin-top: 21px;
    margin-right: 30px;
}
.attr_content p {
    margin-top: 18px;
}

.attr_content span {
    font-size: 14px;
    color: #666666;
    font-weight: 400;
    margin-left: 30px;
}
#box:hover{
	cursor: pointer;
}
.rotateLeft,.rotateRight{
	width: 32px;
	height: 39px;
	float: right;
	position: relative;
	padding-right: 2px;
	background-position: center center;
	background-repeat: no-repeat;
	border: 0;
	outline: none;
	background-color: #F3F3F3;
}
.rotateLeft:hover,.rotateRight:hover{
   cursor: pointer;
}
.rotateLeft{
	margin-right: 15px;
	margin-left: 15PX;
	background-image: url(rotate_left.png);
}
.rotateRight{
	background-image: url(rotate_right.png);
}