/**
 * Copyright 2013 I Doc View
 * @author Godwin <godwin668@gmail.com>
 */

/* ---------------------------------------------------------------------- */
/*	Content
/* ---------------------------------------------------------------------- */

/* -------------------------------------------------- */
/*	Loading style
	/* -------------------------------------------------- */

.loading-mask {
	position: absolute;
	background-color: whiteSmoke;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2000;
}

.loading-mask .brand {
	position: absolute;
	width: 100%;
	bottom: 20px;
}

.loading-mask .loading-zone {
	width: 100%;
	max-width: 300px;
	margin: 100px auto;
}

.loading-mask .loading-zone .progress {
	height: 13px;
}

.loading-mask .loading-zone .text {
	text-align: center;
	margin: 5px auto;
}

/* -------------------------------------------------- */
/*	Bootstrap responsive style
	/* -------------------------------------------------- */

body {
	padding-bottom: 0px;

}

.sidebar-nav {
	padding: 9px 0;
}

.navbar-fixed-top {}



.moveBtn a {
	color: #000;
	text-decoration: none;
	height: 41px;
	display: block;
	padding: 0 10px 0 10px;
}

.moveBtn a:hover {
	background: #FFF
}

.hide {
	display: none;
}

.excel-tab-title {
	overflow: hidden
}


.moveBtn {
	display: block;
	line-height: 41px;
	color: #000;
	float: left;
	margin-right: 10px;
	height: 34px;
}

.navbar-inverse .nav-collapse .nav .active>a:hover {
	color: green;
	background-color: #fff
}

.navbar-inverse .nav-collapse .nav li a:hover {
	color: #000;
	background-color: #fff
}

.navbar .nav>li {
	/* border-right: 1px solid #000; */
	height: 40px;
	line-height: 40px;
	cursor: pointer
}

.navbar .nav>li.first {
	/* border-left: 1px solid #000; */
}

.navbar .nav>li.active {
	border-bottom: 1px solid green;
}

.navbar .nav>li.active a {
	font-weight: bold;
	letter-spacing: 2px;
	color: green
}

.navbar .nav>li.active:hover a {
	color: green
}

.navbar .nav>li>a.hover {
	font-weight: bold;
	letter-spacing: 2px
}

@media (max-width: 979px) {

	/* Enable use of floated navbar text */
	.navbar-inverse .nav-collapse .nav>li>a:hover {
		color: #000;
		background-color: #fff
	}

	.navbar-inverse .nav-collapse .nav .active>a:hover {
		color: #000;
		background-color: #fff
	}

}

@media (max-width: 767px) {
	.left {
		margin-left: 20px
	}
}

/* -------------------------------------------------- */
/*	File upload
	/* -------------------------------------------------- */
.fileinput-button {
	position: relative;
	overflow: hidden;
	float: left;
	margin-right: 4px;
}

.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}

/* -------------------------------------------------- */
/*	Header Style
	/* -------------------------------------------------- */

.navbar .brand {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 80%;
}

/* -------------------------------------------------- */
/*	Search & Highlight
	/* -------------------------------------------------- */
.highlight {
	background-color: #FFFF88;
}

.highlight-selected {
	background-color: darkorange;
}

/* -------------------------------------------------- */
/*	Word Style
	/* -------------------------------------------------- */

.word-body,
.ppt-body {
	background-color: #EBEBEB;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.word-body table {
	width: auto !important;
}

.word-page {
	line-height: normal;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	max-width: 795px;
	background-color: #FFF;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-moz-box-shadow: 0 0 10px 5px #888;
	-webkit-box-shadow: 0 0 10px 5px #888;
	box-shadow: 0 0 10px 5px #888;
}

.word-page .word-content {
	position: relative;
	background-color: #FFF;
	max-width: 75%;
	word-wrap: break-word;
	word-break: break-all;
	margin: 0px auto;
	padding-top: 10%;
	padding-bottom: 10%;
}

.doc-page .doc-content p {
	word-wrap: break-word;
	word-break: normal;
	margin: 0px;
}





/* -------------------------------------------------- */
/*	Table Style
	/* -------------------------------------------------- */

table {
	border-collapse: collapse;
	margin: 0px auto;
}


/*
	table, tbody, tfoot, thead, tr, th, td {
		border: 1px solid #dddddd !important;
	}
	*/


/* -------------------------------------------------- */
/*	Footer
	/* -------------------------------------------------- */
footer {
	text-align: center;
}

/* -------------------------------------------------- */
/*	Bottom paging progress
	/* -------------------------------------------------- */
.bottom-paging-progress {
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	margin: 0px auto;
	height: 3px;
}

.paging-bottom-all {
	border-top: 1px solid #d8d8d8;
	height: 20px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	cursor: pointer;
}

.paging-bottom-sub {
	float: left;
	display: inline-block;
	text-align: center;
	height: 20px;
	font-weight: bold;
	color: green;
}

/* -------------------------------------------------- */
/*	Mobile css
	/* -------------------------------------------------- */
@media (max-width: 767px) {
	.word-body {
		padding-top: 40px;
	}

	.word-page .word-content {
		max-width: 85%;
	}

	/* 取消手机端Word预览左右边距 */
	.word-body .container-fluid-content {
		padding-left: 0px;
		padding-right: 0px;
	}

	.word-body,
	.ppt-body,
	.pdf-body {
		background-color: #FFF;
	}

	.word-page {
		-moz-box-shadow: 0 0 10px 5px #FFF;
		-webkit-box-shadow: 0 0 0px 0px #FFF;
		box-shadow: 0 0 0px 0px #FFF;
	}

	.pdf-body {
		padding-top: 50px;
	}

	.pdf-body .container-fluid-content {
		padding-left: 0px;
		padding-right: 0px;
	}
}

/*excel滚动条*/
.container-fluid-content {}

#t_r_content {
	overflow-x: scroll;
}

body {
	overflow: hidden;
}

html {
	overflow: hidden;
}

#t_r_t {
	line-height: 18px
}

#divRight {
	overflow: hidden;
	padding: 0px;
}

.navbar-inverse .navbar-inner {
	background: #EEEEEE;
	font-size: 12px;
	font-weight: normal;
}

.navbar .nav {
	height: 41px
}

table {
	width: 100%;
}

table tr.firstTr td {
	padding: 0px 1px 0px 1px;
	border-left: 1px solid #dadcdd;
}

.t_left {
	width: 40px;
	float: left;
}

.divLeftBtm {
	background-color: #F7F7F7;
	border: 1px solid #a0b0c7;
	border-bottom: none;
	/* border-top: none; */
	/* border: none; */
	width: 38px;
	height: 18px;
}

.TbleftTop {
	border-collapse: collapse;
	border: 1px solid #dadcdd;
	table-layout: fixed;
}

.TbCaption {
	border-collapse: collapse;
	table-layout: fixed;
}

.TbCaption>tbody>tr>td,
.TbCaption>thead>tr>td,
.TbCaption>thead>tr>th {
	font-weight: lighter;
	background-color: #F7F7F7;
	border: 1px solid #a0b0c7;
	text-align: center;
	font-size: 14px;
	word-break: keep-all;
	/* 不换行 */
	white-space: nowrap;
	/* 不换行 */
	overflow: hidden;
	/* 内容超出宽度时隐藏超出部分的内容 */
	/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用*/
	font-family: 'Times New Roman';
	vertical-align: inherit;
}

.TbleftTop>thead>tr>th {
	background-color: #ffffff;
	height: 18px;
}

.btmDiv {
	background-color: #c7d9ed;
	width: 100%;
	border-top: 1px solid #728ead;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #849dbd;
	height: 38px;
	font-size: 13.5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	position: fixed;
	bottom: 0;
}

#moveDiv {
	float: left;
	width: 100px;
	text-align: center;
	font-weight: bold;
	height: 38px;
}

.btmSheet {
	float: left;
	padding: 1px 12px;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #3c5478;
	cursor: default;
	color: #1e2b3e;
	height: 32px;
	line-height: 30px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.move {
	width: 40px;
	text-align: center;
	cursor: default;
	float: left;
	border-left: 1px solid #849dbd;
	border-right: 1px solid #849dbd;
	height: 38px;
	line-height: 38px;
}

.move:hover {
	background-color: #dbe7f3;
	/*border:1px solid #ffffff;*/
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}

.move:active {
	color: white;
	background-color: #3c5478;
	/*border:1px solid #000;*/
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.btmSheet:hover {
	background-color: #dbe7f3;
}

table>tbody>tr>td {
	border-top: 1px solid #dadcdd;
	border-left: 1px solid #dadcdd;
	vertical-align: center;
	padding: 0px;
	word-break: keep-all;
	/* 不换行 */
	white-space: nowrap;
	/* 不换行 */

}

.focusOn {
	border: 1px solid #000000 !important;
}

.tdPreview {
	position: absolute;
	z-index: 99999;
	overflow-y: visible;
	border: 0;
	display: none;
	padding: 1px;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #FFF;
	outline: none;
}

#excel-tab-title li a {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 80px;
	text-align: center;
	white-space: nowrap;
	padding: 0px 10px 0px;
}

.firstTr th {
	padding-top: 0;
	padding-bottom: 0;
	border-left: 1px solid #dadcdd;
}

/* 批注 */
.msdr {
	border: 2px solid #217346 !important;
}

.postil {
	position: absolute;
	z-index: 1000;

}

.comm {
	width: 0;
	height: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2010;
	border-top: 6px solid red;
	border-left: 6px solid transparent;
}

.tdrl {
	position: relative;
	background-clip: padding-box;
}

.layer .postil {
	position: absolute;
	z-index: 2010;
	width: 188px;
	display: none;
	border: 1px solid #000;
	background-color: #ffffe1;
	-webkit-box-shadow: 2px 2px #000;
	-moz-box-shadow: 2px 2px #000;
	box-shadow: 2px 2px #000;
	padding: 2px;
}

#header {
	width: 100%;
	height: 40px;
	background-color: #F3F3F3;
}

#header #btnMore {
	display: inline-block;
	width: 32px;
	height: 40px;
	border-radius: 3px;
	float: right;
	line-height: 35px;
	margin-right: 14px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 1px;
	display: none;
}

#btnMore:hover {
	background-color: rgba(230, 230, 230, 0.5)
}

#btnMore:active {
	background-color: rgba(230, 230, 230, 1)
}

#header #btnMore_left {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 5px;
	float: left;
	margin-top: 9px;
	margin-right: 14px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 1px;
}

#header #btnMore:hover {
	cursor: pointer;
}

.more-content {
	position: relative;
	z-index: 10000;
	width: 115px;
	position: absolute;
	top: 40px;
	right: 17px;
	background-color: #FFFFFF;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.28);
	display: none;
}

.more-content li {
	list-style: none;
	font-size: 12px;
	color: #373737;
	font-weight: 400;
	margin-top: 9px;
	margin-left: -25px;
	border-radius: 3px;
}

.more-content li:hover {
	background-color: rgba(230, 230, 230, 0.5);
	cursor: pointer;
}

.more-content li:active {
	background-color: rgba(230, 230, 230, 1)
}

.more-content img {
	width: 15px;
	height: 15px;
	margin-left: 23px;
}

.more-content span {
	position: relative;
	top: 2px;
	margin-left: 10px;
}

.fullScreenBtn {
	height: 24px;
	float: right;
	margin-top: 8px;
	margin-right: 140px;
	border: 0;
	outline: none;
	font-size: 12px;
	color: #373737;
	line-height: 24px;
	font-weight: 400;
	background-color: #FFFFFF;
	display: none;
}

.fullScreenBtn img {
	height: 13px;
	margin-top: -2px;
}

.fullScreenBtn span {
	margin-left: 5px;
}

.title {
	display: inline-block;
	width: 200px;
	height: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	font-weight: 400;
	color: #373737;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	opacity: 0;
}

#excel-tab-title .moveBtn {
	display: none;
}

.docMark {
	width: 100%;
	border: 1px solid transparent;
	position: fixed;
	z-index: 1000000;
	background-color: rgba(30, 30, 30, 0.6);
	display: none;
}

.docMark .attribute {
	width: 392px;
	height: 229px;
	background-color: #FFFFFF;
	margin: auto;
}

.attr_Title {
	width: 100%;
	height: 57px;
	border-bottom: 1px solid #E2E4EA;
	font-size: 18px;
	color: #373737;
	font-weight: 400;
	font-family: 微软雅黑;
	line-height: 57px;
}

.attr_Title span {
	margin-left: 30px;
}

.attr_Title button {
	width: 15px;
	height: 15px;
	background-image: url(offAttributeBtn.png);
	background-size: 100% 100%;
	background-color: #FFFFFF;
	border: 0;
	outline: none;
	float: right;
	margin-top: 21px;
	margin-right: 30px;
}

.attr_content p {
	margin-top: 18px;
}

.attr_content span {
	font-size: 14px;
	color: #666666;
	font-weight: 400;
	margin-left: 30px;
}

.bodybackground {
	background-color: #ffffff;
}

.tab-content {
	background: #fff
}