
			body {
				background: rgb(237, 237, 237);
				margin:0px;
			}
			
			#sidebar {
				position: absolute;
				background: #f8f8f8;
				top: 40px;
				bottom: 0;
				left: -16%;
				width: 16%;
				overflow: auto;
				transition: left .45s cubic-bezier(.23, 1, .32, 1);
			}
			.pptPageSwitch {
				display: block;
				text-align: center;
				z-index: 1000;
				position: fixed;
				bottom: 0;
				width: 100%;
				height: 40px;
				-moz-user-select: none;
				-webkit-user-select: none;
				-ms-user-select: none;
				-khtml-user-select: none;
				user-select: none;
				cursor: default;
				
				background-color: #f3f3f3;
				box-sizing: border-box;
			}
			.wrapper {
				display: inline-block;
				height: inherit;
				box-sizing: border-box;
				text-align: center;
				margin: 0 auto;
				font-family: 'Segoe UI', Arial, Verdana, sans-serif;
				font-size: 18px;
				vertical-align: middle;
				line-height: 40px;
			}
			.components-icons {
				font-family: 'preview' !important;
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
			.rightSwitchBtn {
				line-height: 22px;
				width: 22px;
				height: 22px;
				margin-top: 11px;
				border: 1px solid #666666;
				border-radius: 4px;
				cursor: pointer;
			}
			.rightSwitch {
				float: left;
				height: 44px;
				margin-left: 50px;
			}
			.components-icons-angle-right:before {
				content: ">";
			}
			.leftSwitch {
				float: left;
				height: 44px;
				margin-right: 50px;
			}
			.leftSwitchBtn {
				line-height: 22px;
				width: 22px;
				height: 22px;
				margin-top: 11px;
				border: 1px solid #666666;
				border-radius: 4px;
				cursor: pointer;
			}
			.components-icons-angle-left:before {
				content: "<";
			}
			.pptPageContent {
				float: left;
				color: #666666;
				font-size: 19px;
			}
			.unclick {
				border-color: #d0d0d0;
				color: #d0d0d0;
				cursor: no-drop;
			}
			.fullscreenBtb {
				width: 30px;
				height: 30px;
				position: absolute;
				right: 44px;
				top: 7px;
				display: inline-block;
				box-sizing: border-box;
				border-radius: 4px;
				border: 1px solid #666666;
				cursor: pointer;
				background: url(fullScreen.png) 2px 2px no-repeat;
				background-size:24px 24px;
			}
			.fullscreenBtb.exit{
				background: url(exitFullScreen.png) 2px 2px no-repeat;
				background-size:24px 24px;
			}
			.fullscreenBtbIcon {
				line-height: 30px;
				font-size: 18px;
				
			}
			.fullscreenBtb:hover{
				background-color:#b1aeae
			}
			#mainbody {
				overflow:hidden;
				-webkit-overflow-scrolling:touch;
				position: absolute;
				left: 0px;
				right: 0px;
				bottom: 0px;
				top: 40px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				border: solid 10px transparent;
				transition: left .45s cubic-bezier(.23, 1, .32, 1);
			}
			
			.thumbnail {
				margin: 10px 10px 0;
				text-align: center;
			}
			
			.thumbnail img {
				display: block;
				margin: auto;
				width: 100%;
				padding: 2px;
				border: solid 1px #eee;
				display: block;
				border-radius: 5px;
				cursor: pointer;
				box-sizing: border-box;
			}
			
			.thumbnail.active img {
				width:100%;
				border-color: darkorange;
				box-shadow: 0 0 0 2px darkorange;
				cursor: default;
			}
			
			.thumbnail.active .side-pager {
				color: darkorange
			}
			
			#header {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				background: #333;
				height: 40px;
				color: #fff;
			}
			
			#title {
				margin: 0 0 0 10px;
				line-height: 38px;
				font: 400 20px/38px 'Microsoft Yahei';
				width: 60%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			
			#loading {
				bottom: 0;
				left: 0;
				right: 0;
			}
			
			.loader {
				position: absolute;
				overflow: hidden;
				height: 3px;
				z-index: 9999;
			}
			
			.loader div {
				height: 100%;
				width: 1%;
				transition: width .45s cubic-bezier(.23, 1, .32, 1);
				background: #39f;
			}
			
			.side-pager {
				text-align: center;
				height: 25px;
				line-height: 25px;
				font-size: 16px;
				font-weight: bold;
			}
			
			#next,
			#prev {
				position: fixed;
				top: 50%;
				width: 60px;
				font: 60px/160px '宋体';
				margin-top: -80px;
				cursor: pointer;
				text-align: center;
				opacity: .1;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			
			#next:hover,
			#prev:hover {
				background: rgba(0, 0, 0, .1);
				opacity: .5
			}
			
			#prev {
				left: 3%;
			}
			
			#next {
				right: 3%;
			}
			
			.hbtn {
				width: 40px;
				height: 40px;
				display: inline-block;
				cursor: pointer;
			}
			
			.hbtn:hover {
				background: #444;
			}
			
			
			
			
			
			.pull-right {
				float: right;
			}
			
			.fullScreen #sidebar {
				left: -16%;
			}
			
			.openSide #sidebar {
				left: 0 !important;
			}
			.openSide #mainbody #prev{left:19%}
			.openSide #sideBtn {
				background: #444;
			}
			
			.openSide #mainbody {
				left: 16% !important;
			}
			
			.openSide .side-pager {
				cursor: pointer;
			}
			
			.fullScreen #mainbody {
				left: 0;
				background-color: #000;
			}
			
			.fullScreen #sideBtn {
				display: inline-block;
			}
			
			.fullScreen .thumbnail img {
				display: block;
			}
			
			.fullScreen #next,
			.fullScreen #prev {
				color: #fff;
			}
			
			#sideBtn {
				float: left;
				padding-top: 8px;
				height: 32px;
				margin-right: 10px;
			}
			
			#sideBtn em {
				height: 2px;
				background: #fff;
				margin: 5px 9px;
				display: block;
			}
			/*隐藏body导航栏显示mainbody导航栏*/
			body,html{overflow:hidden}
			#mainbody .word-content{width:70%;display:table-cell;vertical-align:middle;}
			#mainbody .word-content embed{width:100%}
			
	