<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.dao.FcsFileInfoPOMapper">
    <resultMap id="FcsFileInfoPOResultMap" type="com.neo.model.po.FcsFileInfoPO">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="IP_ADDRESS" property="ipAddress" jdbcType="INTEGER"/>
        <result column="USERID" property="userID" jdbcType="BIGINT"/>
        <result column="FILE_HASH" property="fileHash" jdbcType="VARCHAR"/>
        <result column="RESULT_CODE" property="resultCode" jdbcType="INTEGER"/>
        <result column="DEST_FILE_NAME" property="destFileName" jdbcType="VARCHAR"/>
        <result column="SRC_FILE_NAME" property="srcFileName" jdbcType="VARCHAR"/>
        <result column="SRC_FILE_SIZE" property="srcFileSize" jdbcType="BIGINT"/>
        <result column="DEST_FILE_SIZE" property="destFileSize" jdbcType="BIGINT"/>
        <result column="CONVERT_TYPE" property="convertType" jdbcType="INTEGER"/>
        <result column="SRC_STORAGE_PATH" property="srcStoragePath" jdbcType="VARCHAR"/>
        <result column="DEST_STORAGE_PATH" property="destStoragePath" jdbcType="VARCHAR"/>
        <result column="DOWNLOAD_URL" property="viewUrl" jdbcType="VARCHAR"/>
        <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <sql id="Base_Column_List">
		ID,IP_ADDRESS, USERID,FILE_HASH, RESULT_CODE,
		DEST_FILE_NAME, SRC_FILE_NAME, DEST_FILE_SIZE, SRC_FILE_SIZE,
		CONVERT_TYPE, SRC_STORAGE_PATH, DEST_STORAGE_PATH, DOWNLOAD_URL,
		GMT_CREATE, GMT_MODIFIED
  	</sql>
    
    
       <sql id="search_condition">
        <where>
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="ipAddress != null and ipAddress!=''">
                AND IP_ADDRESS = #{ipAddress}
            </if>
             <if test="fileHash != null and fileHash!=''">
                AND FILE_HASH = #{fileHash}
            </if>
            <if test="userID != null and userID!=''">
            	AND USERID = #{userID}
            </if>
            <if test="showDateStart != null">
                <![CDATA[AND GMT_CREATE >= DATE_FORMAT(#{showDateStart},'%Y-%m-%d')]]>
            </if>
            <if test="showDateEnd !=null">
                <![CDATA[AND GMT_CREATE <= DATE_FORMAT(#{showDateEnd},'%Y-%m-%d')]]>
            </if>
        </where>
    </sql>
    
    
    
 	<sql id="byPage">
		<if test="startRow != null and rows != null">
			limit #{startRow},#{rows}
		</if>
	</sql>
	
	
    
   	  <!-- 插入登录用户转换成功的数据 -->
      <insert id="insertPtsConvert" parameterType="com.neo.model.po.FcsFileInfoPO">
	    insert into pts_convert (
	   	 	IP_ADDRESS, USERID,FILE_HASH, RESULT_CODE,
			DEST_FILE_NAME, SRC_FILE_NAME, DEST_FILE_SIZE, SRC_FILE_SIZE,
			CONVERT_TYPE, SRC_STORAGE_PATH, DEST_STORAGE_PATH, DOWNLOAD_URL,
			GMT_CREATE, GMT_MODIFIED
			)
	 	values (
	      #{ipAddress,jdbcType=VARCHAR}, 		#{userID,jdbcType=BIGINT}, 
	      #{fileHash,jdbcType=VARCHAR}, 		#{resultCode,jdbcType=INTEGER}, 
	      #{destFileName,jdbcType=VARCHAR}, 	#{srcFileName,jdbcType=VARCHAR},
	      #{srcFileSize,jdbcType=BIGINT}, 		#{destFileSize,jdbcType=BIGINT}, 
	      #{convertType,jdbcType=INTEGER},  	#{srcStoragePath,jdbcType=VARCHAR},
	      #{destStoragePath,jdbcType=VARCHAR}, 	#{viewUrl,jdbcType=VARCHAR}, 
	      now(),now()
	      )
 	  </insert>
 	  
 	  
 	  <!-- 查询登录用户三天的转换记录 -->
 	  	<select id="selectFcsFileInfoPOByUserID" resultMap="FcsFileInfoPOResultMap" parameterType="com.neo.model.qo.FcsFileInfoQO">
			select
			<include refid="Base_Column_List" />
			from pts_convert 
			<include refid="search_condition" />
			<![CDATA[and  DATEDIFF(now(), GMT_MODIFIED)<3]]>
			<include refid="byPage"/>
		</select>
		
		
		<!-- 查询登录用户三天的转换数量 -->
 	  	<select id="selectCountNumFcsFileInfoPOByUserID" resultType="java.lang.Integer">
			select
			count(*)
			from pts_convert 
			<include refid="search_condition" />
			<![CDATA[and  DATEDIFF(now(), GMT_MODIFIED)<3]]>
		</select>
 	  
 	  
 	  <!-- 转换相同文件时，修改转换时间和下载地址 -->
 	   <update id="updatePtsConvert" parameterType="com.neo.model.po.FcsFileInfoPO" >
		    update pts_convert
		    set 
		    GMT_MODIFIED = now(),
		    DEST_FILE_NAME =  #{destFileName,jdbcType=VARCHAR}, 
		    DOWNLOAD_URL = #{viewUrl,jdbcType= VARCHAR}
		    where USERID = #{userID,jdbcType=BIGINT} 
		    and FILE_HASH = #{fileHash,jdbcType= VARCHAR}
 		</update>
 	  
 	  
 	  <!-- 删除登录用户，相应的转换记录 -->
 	   <delete id="deletePtsConvert" parameterType="com.neo.model.qo.FcsFileInfoQO">
	        delete from pts_convert
	      	<include refid="search_condition" />
   	   </delete>
 	  

 	  
    
</mapper>