<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.dao.PtsApplyPOMapper">
     <resultMap id="PtsApplyPOMapper" type="com.neo.model.po.PtsApplyPO">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="MODULE" property="module" jdbcType="INTEGER"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR"/>
        <result column="FILE_SIZE" property="fileSize" jdbcType="BIGINT"/>
    </resultMap>
    
    
	   <insert id="insertPtsApply"  parameterType="com.neo.model.po.PtsApplyPO">
	    insert into pts_apply (
	   	 	GMT_CREATE, GMT_MODIFIED,
	   	 	MODULE,ADDRESS, FILE_NAME,FILE_SIZE
			)
	 	values (
	 	  now(),now(),
	      #{module,jdbcType=INTEGER}, 			#{address,jdbcType=VARCHAR},
	      #{fileName,jdbcType=VARCHAR}, 		#{fileSize,jdbcType=BIGINT}
	      )
 	  </insert>
	 
	  
 	  
    
</mapper>