<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.dao.PtsSummaryPOMapper">
     <resultMap id="PtsSummaryPOMap" type="com.neo.model.po.PtsSummaryPO">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="ZERO_TWO" property="zeroToTwo" jdbcType="INTEGER"/>
        <result column="TWO_FIVE" property="twoToFive" jdbcType="INTEGER"/>
        <result column="FIVE_TEN" property="fiveToTen" jdbcType="INTEGER"/>
        <result column="TEN_FIFTEEN" property="tenToFifteen" jdbcType="INTEGER"/>
        <result column="FIFTEEN_TWENTY" property="fifteenToTwenty" jdbcType="INTEGER"/>
        <result column="TWENTY_THIRTY" property="twentyToThirty" jdbcType="INTEGER"/>
        <result column="THIRTY_FOURTY" property="thirtyToFourty" jdbcType="INTEGER"/>
        <result column="FOURTY_FIFTY" property="fourtyToFifty" jdbcType="INTEGER"/>
        <result column="FIFTY_MORE" property="fiftyMore" jdbcType="INTEGER"/>
        <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR"/>
        <result column="IS_SUCCESS" property="isSuccess" jdbcType="INTEGER"/>
        <result column="APP_TYPE" property="appType" jdbcType="INTEGER"/>
        <result column="MODULE" property="module" jdbcType="INTEGER"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIME"/>
        <result column="MODIFIED_DATE" property="modifiedDate" jdbcType="DATE"/>
        <result column="MODIFIED_TIME" property="modifiedTime" jdbcType="TIME"/>
    </resultMap>
    
      <sql id="search_condition">
        <where>
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="ipAddress != null and ipAddress!=''">
                AND IP_ADDRESS = #{ipAddress}
            </if>
            <if test="appType != null">
            	AND APP_TYPE = #{appType}
            </if>
            <if test="showDateStart != null">
                <![CDATA[AND SHOW_DATE >= DATE_FORMAT(#{showDateStart},'%Y-%m-%d')]]>
            </if>
            <if test="showDateEnd !=null">
                <![CDATA[AND SHOW_DATE <= DATE_FORMAT(#{showDateEnd},'%Y-%m-%d')]]>
            </if>
        </where>
    </sql>
    
    
    <sql id="group_by">
        <choose>
			<when test=" groupby == null or groupby ==''">
				GROUP BY IP_ADDRESS, CREATE_DATE 
			</when>
			<when test=" 'DATE' == groupby ">
				GROUP BY  CREATE_DATE 
			</when>
		</choose>
	</sql>
    
    
	 <sql id="key">
	   <trim suffixOverrides=",">
	     <if test="zeroToTwo != null" >
		        ZERO_TWO,
		      </if>
		      <if test="twoToFive != null" >
		        TWO_FIVE,
		      </if>
		      <if test="fiveToTen != null" >
		        FIVE_TEN,
		      </if>
		      <if test="tenToFifteen != null" >
		        TEN_FIFTEEN,
		      </if>
		      <if test="fifteenToTwenty != null" >
		        FIFTEEN_TWENTY,
		      </if>
		      <if test="twentyToThirty != null" >
		       TWENTY_THIRTY,
		      </if>
		      <if test="thirtyToFourty != null" >
		        THIRTY_FOURTY,
		      </if>
		      <if test="fourtyToFifty != null" >
		        FOURTY_FIFTY,
		      </if>
		      <if test="fiftyMore != null" >
		        FIFTY_MORE,
		      </if>
		      <if test="ipAddress != null and ipAddress !=''" >
		        IP_ADDRESS,
		      </if>
		      <if test="isSuccess != null" >
		        IS_SUCCESS,
		      </if>
		      <if test="appType != null" >
		        APP_TYPE,
		      </if>
		       <if test="module != null" >
		        MODULE ,
		      </if>
		      <if test="createDate != null" >
		        CREATE_DATE,
		      </if>
		       <if test="createTime != null" >
		        CREATE_TIME,
		      </if>
		       <if test="modifiedDate != null" >
		        MODIFIED_DATE,
		      </if>
		       <if test="modifiedTime != null" >
		        MODIFIED_TIME,
		      </if>
	   </trim>
	  </sql>

		
	<sql id="values">
	   <trim suffixOverrides=",">
	      <if test="zeroToTwo != null" >
		        #{zeroToTwo,jdbcType=INTEGER},
		      </if>
		      <if test="twoToFive != null" >
		        #{twoToFive,jdbcType=INTEGER}, 
		      </if>
		      <if test="fiveToTen != null" >
		        #{fiveToTen,jdbcType=INTEGER}, 
		      </if>
		      <if test="tenToFifteen != null" >
		        #{tenToFifteen,jdbcType=INTEGER},
		      </if>
		      <if test="fifteenToTwenty != null" >
		        #{fifteenToTwenty,jdbcType=INTEGER},
		      </if>
		      <if test="twentyToThirty != null" >
		       #{twentyToThirty,jdbcType=INTEGER},
		      </if>
		      <if test="thirtyToFourty != null" >
		        #{thirtyToFourty,jdbcType=INTEGER},
		      </if>
		      <if test="fourtyToFifty != null" >
		        #{fourtyToFifty,jdbcType=INTEGER}, 
		      </if>
		      <if test="fiftyMore != null" >
		        #{fiftyMore,jdbcType=INTEGER},
		      </if>
		      <if test="ipAddress != null and ipAddress !=''" >
		        #{ipAddress,jdbcType=VARCHAR},
		      </if>
		      <if test="isSuccess != null" >
		        #{isSuccess,jdbcType=INTEGER},
		      </if>
		      <if test="appType != null" >
		       	 #{appType,jdbcType=INTEGER},
		      </if>
		      <if test="module != null" >
		        #{module,jdbcType=INTEGER},
		      </if>
		      <if test="createDate != null" >
		         #{createDate,jdbcType=DATE},
		      </if>
		       <if test="createTime != null" >
		         #{createTime,jdbcType=TIME},
		      </if>
		       <if test="modifiedDate != null" >
		        #{modifiedDate,jdbcType=DATE},
		      </if>
		       <if test="modifiedTime != null" >
		         #{modifiedTime,jdbcType=TIME}
		      </if>
		   </trim>
		  </sql>	
	
    
    
     
     <!-- 插入每个转换结果数据（包含游客） -->
      <insert id="insertPtsSumm" parameterType="com.neo.model.po.PtsSummaryPO">
	    insert into pts_summ (
			<include refid="key" />
			)
	 	values (
	     <include refid="values" />
	      )
 	  </insert>
 	  

 	<!-- 每日根据ip地址，更新转换的数量（包含失败的） -->
 	  <update id="updatePtsSumm" parameterType="com.neo.model.po.PtsSummaryPO" >
		    update pts_summ
		    <set >
		      <if test="zeroToTwo != null" >
		        ZERO_TWO = ZERO_TWO+1,
		      </if>
		      <if test="twoToFive != null" >
		        TWO_FIVE = TWO_FIVE+1,
		      </if>
		      <if test="fiveToTen != null" >
		        FIVE_TEN = FIVE_TEN+1,
		      </if>
		      <if test="tenToFifteen != null" >
		        TEN_FIFTEEN = TEN_FIFTEEN+1,
		      </if>
		      <if test="fifteenToTwenty != null" >
		        FIFTEEN_TWENTY = FIFTEEN_TWENTY+1,
		      </if>
		      <if test="twentyToThirty != null" >
		       TWENTY_THIRTY = TWENTY_THIRTY+1,
		      </if>
		      <if test="thirtyToFourty != null" >
		        THIRTY_FOURTY = THIRTY_FOURTY+1,
		      </if>
		      <if test="fourtyToFifty != null" >
		        FOURTY_FIFTY = FOURTY_FIFTY+1,
		      </if>
		      <if test="fiftyMore != null" >
		        FIFTY_MORE = FIFTY_MORE+1,
		      </if>
		      <if test="ipAddress != null and ipAddress!=''" >
		        IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
		      </if>
		      <if test="isSuccess != null" >
		        IS_SUCCESS = #{isSuccess,jdbcType=INTEGER},
		      </if>
		      <if test="appType != null" >
		        APP_TYPE = #{appType,jdbcType=INTEGER},
		      </if>
		      <if test="module != null" >
		        MODULE = #{module,jdbcType=INTEGER},
		      </if>
		      <if test="createDate != null" >
		        CREATE_DATE = #{createDate,jdbcType=DATE},
		      </if>
		       <if test="createTime != null" >
		        CREATE_TIME = #{createTime,jdbcType=TIME},
		      </if>
		       <if test="modifiedDate != null" >
		        MODIFIED_DATE = #{modifiedDate,jdbcType=DATE},
		      </if>
		       <if test="modifiedTime != null" >
		        MODIFIED_TIME = #{modifiedTime,jdbcType=TIME}
		      </if>
		    </set>
		    where IP_ADDRESS = #{ipAddress,jdbcType=INTEGER} 
		    and IS_SUCCESS = #{isSuccess,jdbcType=INTEGER}
		    and CREATE_DATE = #{createDate,jdbcType=DATE}
		    and MODULE = #{module,jdbcType=INTEGER}
 		</update>
 	  
 	  
 	  
 	  <!--查询每个size区间内，转换的数量  -->
 	  <select id="selectCountBySize" resultMap="PtsSummaryPOMap" >
			select
			sum(ZERO_TWO) ZERO_TWO,  		sum(TWO_FIVE) TWO_FIVE, 
			sum(FIVE_TEN) FIVE_TEN, 			sum(TEN_FIFTEEN) TEN_FIFTEEN, 
			sum(FIFTEEN_TWENTY) FIFTEEN_TWENTY, sum(TWENTY_THIRTY) TWENTY_THIRTY,
			sum(THIRTY_FOURTY) THIRTY_FOURTY, 	sum(FOURTY_FIFTY) FOURTY_FIFTY, 
			sum(FIFTY_MORE) FIFTY_MORE
			from pts_summ 
	  </select>
	  
	  
	  <!--查询每个size区间内，每个ip每天,转换的数量  -->
	  <select id="selectCountByIpAndDate" resultMap="PtsSummaryPOMap" parameterType="com.neo.model.qo.PtsSummaryQO">
			select
			sum(ZERO_TWO) ZERO_TWO,  		sum(TWO_FIVE) TWO_FIVE, 
			sum(FIVE_TEN) FIVE_TEN, 			sum(TEN_FIFTEEN) TEN_FIFTEEN, 
			sum(FIFTEEN_TWENTY) FIFTEEN_TWENTY, sum(TWENTY_THIRTY) TWENTY_THIRTY,
			sum(THIRTY_FOURTY) THIRTY_FOURTY, 	sum(FOURTY_FIFTY) FOURTY_FIFTY, 
			sum(FIFTY_MORE) FIFTY_MORE,
			IP_ADDRESS, IS_SUCCESS,APP_TYPE, 
			CREATE_DATE, CREATE_TIME
			from pts_summ
			<include refid="search_condition" />
			<include refid="group_by" />
			ORDER BY CREATE_DATE
	  </select>
	  
	  

	  
	  
	  
	  
 	  
    
</mapper>